<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Bars" data-toc-modified-id="Bars-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Bars</a></span><ul class="toc-item"><li><span><a href="#Basic" data-toc-modified-id="Basic-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Basic</a></span></li><li><span><a href="#Sorting" data-toc-modified-id="Sorting-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Sorting</a></span></li><li><span><a href="#Colors" data-toc-modified-id="Colors-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Colors</a></span></li><li><span><a href="#Grouped" data-toc-modified-id="Grouped-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Grouped</a></span><ul class="toc-item"><li><span><a href="#Nested-Categories" data-toc-modified-id="Nested-Categories-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Nested Categories</a></span></li><li><span><a href="#Visual-Dodge" data-toc-modified-id="Visual-Dodge-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Visual Dodge</a></span></li></ul></li><li><span><a href="#Stacked" data-toc-modified-id="Stacked-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Stacked</a></span><ul class="toc-item"><li><span><a href="#Hover-Tools" data-toc-modified-id="Hover-Tools-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Hover Tools</a></span></li></ul></li><li><span><a href="#Mixed-Factors" data-toc-modified-id="Mixed-Factors-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Mixed Factors</a></span></li><li><span><a href="#Stacked-and-Grouped" data-toc-modified-id="Stacked-and-Grouped-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Stacked and Grouped</a></span></li><li><span><a href="#Pandas" data-toc-modified-id="Pandas-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Pandas</a></span></li></ul></li><li><span><a href="#Intervals" data-toc-modified-id="Intervals-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Intervals</a></span></li><li><span><a href="#Scatters" data-toc-modified-id="Scatters-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Scatters</a></span><ul class="toc-item"><li><span><a href="#Adding-Jitter" data-toc-modified-id="Adding-Jitter-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Adding Jitter</a></span></li></ul></li><li><span><a href="#Categorical-Offsets" data-toc-modified-id="Categorical-Offsets-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Categorical Offsets</a></span></li><li><span><a href="#Heat-Maps" data-toc-modified-id="Heat-Maps-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Heat Maps</a></span></li></ul></div>

# Bars

## Basic

In [3]:
from bokeh.plotting import figure, show, output_file

output_file('_bokeh_39.html')

fruits = ['Apples', 'Pears', 'Nectarines', 'Plums', 'Grapes', 'Strawberries']
counts = [5, 3, 4, 2, 4, 6]

p = figure(x_range=fruits, plot_height=250, title='Fruit Counts', toolbar_location=None, tools='')

p.vbar(x=fruits, top=counts, width=0.9)

p.xgrid.grid_line_color = None
p.y_range.start = 0

show(p)

![](_bokeh_39.PNG)

## Sorting

In [4]:
from bokeh.plotting import figure, show, output_file

output_file('_bokeh_40.html')

fruits = ['Apples', 'Pears', 'Nectarines', 'Plums', 'Grapes', 'Strawberries']
counts = [5, 3, 4, 2, 4, 6]

# sorting the bars means sorting the range factors
sorted_fruits = sorted(fruits, key=lambda x: counts[fruits.index(x)])

p = figure(x_range=sorted_fruits, plot_height=350, title='Fruit Counts', toolbar_location=None, tools='')

p.vbar(x=fruits, top=counts, width=0.9)

p.xgrid.grid_line_color = None
p.y_range.start = 0

show(p)

![](_bokeh_40.PNG)

## Colors

In [5]:
from bokeh.plotting import figure, show, output_file
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral6

output_file('_bokeh_41.html')

fruits = ['Apples', 'Pears', 'Nectarines', 'Plums', 'Grapes', 'Strawberries']
counts = [5, 3, 4, 2, 4, 6]

source = ColumnDataSource(data=dict(fruits=fruits, counts=counts, color=Spectral6))

p = figure(x_range=fruits, y_range=(0, 9), plot_height=250, title='Fruit Counts', toolbar_location=None, tools='')

p.vbar(x='fruits', top='counts', width=0.9, color='color', legend='fruits', source=source)

p.xgrid.grid_line_color = None
p.legend.orientation = 'horizontal'
p.legend.location = 'top_center'

show(p)

![](_bokeh_41.PNG)

## Grouped

### Nested Categories

In [6]:
from bokeh.plotting import figure, show, output_file
from bokeh.models import ColumnDataSource, FactorRange

output_file('_bokeh_42.html')

fruits = ['Apples', 'Pears', 'Nectarines', 'Plums', 'Grapes', 'Strawberries']
years = ['2015', '2016', '2017']

data = {'fruits': fruits,
        '2015': [2, 1, 4, 3, 2, 4],
        '2016': [5, 3, 3, 2, 4, 6],
        '2017': [3, 2, 4, 4, 5, 3]}

x = [(fruit, year) for fruit in fruits for year in years]
counts = sum(zip(data['2015'], data['2016'], data['2017']), ())

source = ColumnDataSource(data=dict(x=x, counts=counts))

p = figure(x_range=FactorRange(*x), plot_height=250, title='fruit Counts by Year', toolbar_location=None, tools='')

p.vbar(x='x', top='counts', width=0.9, source=source)

p.y_range.start = 0
p.x_range.range_padding = 0.1
p.xaxis.major_label_orientation = 1
p.xgrid.grid_line_color = None

show(p)

![](_bokeh_42.PNG)

### Visual Dodge

In [9]:
from bokeh.core.properties import value
from bokeh.plotting import figure, show, output_file
from bokeh.models import ColumnDataSource, FactorRange
from bokeh.transform import dodge

output_file('_bokeh_43.html')

fruits = ['Apples', 'Pears', 'Nectarines', 'Plums', 'Grapes', 'Strawberries']
years = ['2015', '2016', '2017']

data = {'fruits': fruits,
        '2015': [2, 1, 4, 3, 2, 4],
        '2016': [5, 3, 3, 2, 4, 6],
        '2017': [3, 2, 4, 4, 5, 3]}

source = ColumnDataSource(data=data)

p = figure(x_range=fruits, y_range=(0, 10), plot_height=250, title='Fruit Counts by Year', toolbar_location=None, tools='')

p.vbar(x=dodge('fruits', -0.25, range=p.x_range), top='2015', width=0.2, source=source, color='#c9d9d3', legend=value('2015'))
p.vbar(x=dodge('fruits', 0.0, range=p.x_range), top='2016', width=0.2, source=source, color='#718dbf', legend=value('2016'))
p.vbar(x=dodge('fruits', 0.25, range=p.x_range), top='2017', width=0.2, source=source, color='#e84d60', legend=value('2017'))

p.x_range.range_padding = 0.1
p.xgrid.grid_line_color = None
p.legend.location = 'top_left'
p.legend.orientation = 'horizontal'

show(p)

![](_bokeh_43.PNG)

## Stacked

In [11]:
from bokeh.core.properties import value
from bokeh.plotting import figure, show, output_file

output_file('_bokeh_44.html')

fruits = ['Apples', 'Pears', 'Nectarines', 'Plums', 'Grapes', 'Strawberries']
years = ['2015', '2016', '2017']
colors = ['#c9d9d3', '#718dbf', '#e84d60']

data = {'fruits': fruits,
        '2015': [2, 1, 4, 3, 2, 4],
        '2016': [5, 3, 3, 2, 4, 6],
        '2017': [3, 2, 4, 4, 5, 3]}

p = figure(x_range=fruits, plot_height=250, title='Fruit Counts by Year', toolbar_location=None, tools='')

p.vbar_stack(years, x='fruits', width=0.9, color=colors, source=data, legend=[value(x) for x in years])

p.y_range.start = 0
p.x_range.range_padding = 0.1
p.xgrid.grid_line_color = None
p.axis.minor_tick_line_color = None
p.outline_line_color = None
p.legend.location = 'top_left'
p.legend.orientation = 'horizontal'

show(p)

![](_bokeh_44.PNG)

In [13]:
from bokeh.plotting import figure, show, output_file
from bokeh.models import ColumnDataSource
from bokeh.palettes import GnBu3, OrRd3

output_file('_bokeh_45.html')

fruits = ['Apples', 'Pears', 'Nectarines', 'Plums', 'Grapes', 'Strawberries']
years = ['2015', '2016', '2017']

exports = {'fruits': fruits,
           '2015': [2, 1, 4, 3, 2, 4],
           '2016': [5, 3, 4, 2, 4, 6],
           '2017': [3, 2, 4, 4, 5, 3]}
imports = {'fruits': fruits,
           '2015': [-1, 0, -1, -3, -2, -1],
           '2016': [-2, -1, -3, -1, -2, -2],
           '2017': [-1, -2, -1, 0, -2, -2]}

p = figure(y_range=fruits, plot_height=250, x_range=(-16, 16), title='Fruit import/export by year',
           toolbar_location=None)

p.hbar_stack(years, y='fruits', height=0.9, color=GnBu3, source=ColumnDataSource(exports),
            legend=['%s exports' % x for x in years])
p.hbar_stack(years, y='fruits', height=0.9, color=OrRd3, source=ColumnDataSource(imports),
            legend=['%s imports' % x for x in years])

p.y_range.range_padding = 0.1
p.ygrid.grid_line_color = None
p.legend.location = 'top_left'
p.axis.minor_tick_line_color = None
p.outline_line_color = None

show(p)

![](_bokeh_45.PNG)

### Hover Tools

In [14]:
from bokeh.core.properties import value
from bokeh.plotting import figure, show, output_file

output_file('_bokeh_46.html')

fruits = ['Apples', 'Pears', 'Nectarines', 'Plums', 'Grapes', 'Strawberries']
years = ['2015', '2016', '2017']
colors = ['#c9d9d3', '#718dbf', '#e84d60']

data = {'fruits': fruits,
        '2015': [2, 1, 4, 3, 2, 4],
        '2016': [5, 3, 3, 2, 4, 6],
        '2017': [3, 2, 4, 4, 5, 3]}

p = figure(x_range=fruits, plot_height=250, title='Fruit Counts by Year', toolbar_location=None, tools='hover', 
           tooltips='$name @fruits: @$name')

p.vbar_stack(years, x='fruits', width=0.9, color=colors, source=data, legend=[value(x) for x in years])

p.y_range.start = 0
p.x_range.range_padding = 0.1
p.xgrid.grid_line_color = None
p.axis.minor_tick_line_color = None
p.outline_line_color = None
p.legend.location = 'top_left'
p.legend.orientation = 'horizontal'

show(p)

![](_bokeh_46.png)

## Mixed Factors

In [15]:
from bokeh.plotting import figure, show, output_file
from bokeh.models import FactorRange

output_file('_bokeh_47.html')

factors = [
    ('Q1', 'jan'), ('Q1', 'feb'), ('Q1', 'mar'),
    ('Q2', 'apr'), ('Q2', 'may'), ('Q2', 'jun'),
    ('Q3', 'jul'), ('Q3', 'aug'), ('Q3', 'sep'),
    ('Q4', 'oct'), ('Q4', 'nov'), ('Q4', 'dec')
]

p = figure(x_range=FactorRange(*factors), plot_height=250, toolbar_location=None, tools='')

x = [10, 12, 16, 9, 10, 8, 12, 13, 14, 14, 12, 16]
p.vbar(x=factors, top=x, width=0.9, alpha=0.5)

p.line(x=['Q1', 'Q2', 'Q3', 'Q4'], y=[12, 9, 13, 14], color='red', line_width=2)

p.y_range.start = 0
p.x_range.range_padding = 0.1
p.xaxis.major_label_orientation = 1
p.xgrid.grid_line_color = None

show(p)

![](_bokeh_47.PNG)

## Stacked and Grouped

In [16]:
from bokeh.core.properties import value
from bokeh.plotting import figure, show, output_file
from bokeh.models import ColumnDataSource, FactorRange

output_file('_bokeh_48.html')

factors = [
    ('Q1', 'jan'), ('Q1', 'feb'), ('Q1', 'mar'),
    ('Q2', 'apr'), ('Q2', 'may'), ('Q2', 'jun'),
    ('Q3', 'jul'), ('Q3', 'aug'), ('Q3', 'sep'),
    ('Q4', 'oct'), ('Q4', 'nov'), ('Q4', 'dec')
]

regions = ['east', 'west']

source = ColumnDataSource(data=dict(x=factors, 
                                    east=[5, 5, 6, 5, 5, 4, 5, 6, 7, 8, 6, 9],
                                    west=[5, 7, 9, 4, 5, 4, 7, 7, 7, 6, 6, 7]
                                   ))
p = figure(x_range=FactorRange(*factors), plot_height=250, toolbar_location=None, tools='')

p.vbar_stack(regions, x='x', width=0.9, alpha=0.5, color=['blue', 'red'], source=source, 
            legend=[value(x) for x in regions])

p.y_range.start = 0
p.y_range.end = 18
p.x_range.range_padding = 0.1
p.xaxis.major_label_orientation = 1
p.xgrid.grid_line_color = None
p.legend.location = 'top_center'
p.legend.orientation = 'horizontal'

show(p)

![](_bokeh_48.PNG)

## Pandas

In [17]:
from bokeh.sampledata.autompg import autompg as df
df.head()

    mpg  cyl  displ   hp  weight  accel  yr  origin                       name
0  18.0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70       1          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70       1         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70       1              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70       1                ford torino

In [19]:
from bokeh.plotting import figure, show, output_file
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral5
from bokeh.transform import factor_cmap

output_file('_bokeh_49.html')

df.cyl = df.cyl.astype(str)
group = df.groupby('cyl')

source = ColumnDataSource(group)

cyl_cmap = factor_cmap('cyl', palette=Spectral5, factors=sorted(df.cyl.unique()))

p = figure(plot_height=350, x_range=group, title='MPG by # Cylinders', toolbar_location=None, tools='')

p.vbar(x='cyl', top='mpg_mean', width=1, source=source, line_color=cyl_cmap, fill_color=cyl_cmap)

p.y_range.start = 0
p.xgrid.grid_line_color = None
p.xaxis.axis_label = 'some stuff'
p.xaxis.major_label_orientation = 1.2
p.outline_line_color = None

show(p)

![](_bokeh_49.PNG)

In [20]:
from bokeh.sampledata.autompg import autompg_clean as df
df.head()

,mpg,cyl,displ,hp,weight,accel,yr,origin,name,mfr
0,18.0,8,307.0,130,3504,12.0,70,North America,chevrolet chevelle malibu,chevrolet
1,15.0,8,350.0,165,3693,11.5,70,North America,buick skylark 320,buick
2,18.0,8,318.0,150,3436,11.0,70,North America,plymouth satellite,plymouth
3,16.0,8,304.0,150,3433,12.0,70,North America,amc rebel sst,amc
4,17.0,8,302.0,140,3449,10.5,70,North America,ford torino,ford

In [22]:
from bokeh.plotting import figure, show, output_file
from bokeh.palettes import Spectral5
from bokeh.transform import factor_cmap

output_file('_bokeh_50.html')

df.cyl = df.cyl.astype(str)
df.yr = df.yr.astype(str)

group = df.groupby(by=['cyl', 'mfr'])

index_cmap = factor_cmap('cyl_mfr', palette=Spectral5, factors=sorted(df.cyl.unique()), end=1)

p = figure(plot_width=800, plot_height=300, title='Mean MPG by # Cylinders and Manufacturer',
           x_range=group, toolbar_location=None, tooltips=[('MPG', '@mpg_mean'), ('Cyl, Mfr', '@cyl_mfr')])

p.vbar(x='cyl_mfr', top='mpg_mean', width=1, source=group, line_color='white', fill_color=index_cmap)

p.y_range.start = 0
p.x_range.range_padding = 0.05
p.xgrid.grid_line_color = None
p.xaxis.axis_label = 'Manufacturer grouped by # Cylinders'
p.xaxis.major_label_orientation= 1.2
p.outline_line_color = None

show(p)

![](_bokeh_50.png)

# Intervals

In [23]:
from bokeh.sampledata.sprint import sprint
sprint.head()

               Name Country   Medal  Time  Year
0        Usain Bolt     JAM    GOLD  9.63  2012
1       Yohan Blake     JAM  SILVER  9.75  2012
2     Justin Gatlin     USA  BRONZE  9.79  2012
3        Usain Bolt     JAM    GOLD  9.69  2008
4  Richard Thompson     TRI  SILVER  9.89  2008

In [24]:
from bokeh.plotting import figure, show, output_file
from bokeh.models import ColumnDataSource

output_file('_bokeh_51.html')

sprint.Year = sprint.Year.astype(str)
group = sprint.groupby('Year')
source = ColumnDataSource(group)

p = figure(y_range=group, x_range=(9.5, 12.7), plot_width=400, plot_height=550, toolbar_location=None, 
           title='Time Spreads for Sprint Medalists (by Year)')
p.hbar(y='Year', left='Time_min', right='Time_max', height=0.4, source=source)

p.ygrid.grid_line_color = None
p.xaxis.axis_label = 'Time (seconds)'
p.outline_line_color = None

show(p)

![](_bokeh_51.PNG)

# Scatters

## Adding Jitter

In [25]:
from bokeh.sampledata.commits import data
data.head()

                           day      time
datetime
2017-04-22 15:11:58-05:00  Sat  15:11:58
2017-04-21 14:20:57-05:00  Fri  14:20:57
2017-04-20 14:35:08-05:00  Thu  14:35:08
2017-04-20 10:34:29-05:00  Thu  10:34:29
2017-04-20 09:17:23-05:00  Thu  09:17:23

In [26]:
from bokeh.plotting import figure, show, output_file
from bokeh.models import ColumnDataSource
from bokeh.transform import jitter

output_file('_bokeh_52.html')

DAYS = ['Sun', 'Sat', 'Fri', 'Thu', 'Wed', 'Tue', 'Mon']

source = ColumnDataSource(data)

p = figure(plot_width=800, plot_height=300, y_range=DAYS, x_axis_type='datetime', title='Commits by Time of Day (US/Central) 2012-2016')

p.circle(x='time', y=jitter('day', width=0.6, range=p.y_range), source=source, alpha=0.3)

p.xaxis[0].formatter.days = ['%Hh']
p.x_range.range_padding = 0
p.ygrid.grid_line_color = None

show(p)

![](_bokeh_52.PNG)

# Categorical Offsets

In [6]:
from bokeh.sampledata.perceptions import probly
probly.head()

,Almost Certainly,Highly Likely,Very Good Chance,Probable,Likely,Probably,We Believe,Better Than Even,About Even,We Doubt,Improbable,Unlikely,Probably Not,Little Chance,Almost No Chance,Highly Unlikely,Chances Are Slight
0,95.0,80,85,75,66,75,66,55.0,50,40,20.0,30,15.0,20,5.0,25,25
1,95.0,75,75,51,75,51,51,51.0,50,20,49.0,25,49.0,5,5.0,10,5
2,95.0,85,85,70,75,70,80,60.0,50,30,10.0,25,25.0,20,1.0,5,15
3,95.0,85,85,70,75,70,80,60.0,50,30,10.0,25,25.0,20,1.0,5,15
4,98.0,95,80,70,70,75,65,60.0,50,10,50.0,5,20.0,5,1.0,2,10

In [8]:
from numpy import linspace
from scipy.stats.kde import gaussian_kde

from bokeh.plotting import figure, show, output_file
from bokeh.models import ColumnDataSource, FixedTicker, PrintfTickFormatter

import colorcet as cc

output_file('_bokeh_53.html')

def ridge(category, data, scale=20):
    return list(zip([category]*len(data), scale*data))

cats = list(reversed(probly.keys()))

palette = [cc.rainbow[i*15] for i in range(17)]

x = linspace(-20, 110, 500)

source = ColumnDataSource(data=dict(x=x))

p = figure(y_range=cats, plot_width=700, x_range=(-5, 105), toolbar_location=None)

for i, cat in enumerate(reversed(cats)):
    pdf = gaussian_kde(probly[cat])
    y = ridge(cat, pdf(x))
    source.add(y, cat)
    p.patch('x', cat, color=palette[i], alpha=0.6, line_color='black', source=source)
    
p.outline_line_color = None
p.background_fill_color = '#efefef'

p.xaxis.ticker = FixedTicker(ticks=list(range(0, 101, 10)))
p.xaxis.formatter = PrintfTickFormatter(format='%d%%')

p.ygrid.grid_line_color = None
p.xgrid.grid_line_color = '#dddddd'
p.xgrid.ticker = p.xaxis[0].ticker

p.axis.minor_tick_line_color = None
p.axis.major_tick_line_color = None
p.axis.axis_line_color = None

p.y_range.range_padding = 0.12

show(p)

![](_bokeh_53.PNG)

# Heat Maps

In [13]:
from bokeh.sampledata.unemployment1948 import data
data.head()

   Year  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec  Annual
0  1948  4.0  4.7  4.5  4.0  3.4  3.9  3.9  3.6  3.4  2.9  3.3  3.6     3.8
1  1949  5.0  5.8  5.6  5.4  5.7  6.4  7.0  6.3  5.9  6.1  5.7  6.0     5.9
2  1950  7.6  7.9  7.1  6.0  5.3  5.6  5.3  4.1  4.0  3.3  3.8  3.9     5.3
3  1951  4.4  4.2  3.8  3.2  2.9  3.4  3.3  2.9  3.0  2.8  3.2  2.9     3.3
4  1952  3.7  3.8  3.3  3.0  2.9  3.2  3.3  3.1  2.7  2.4  2.5  2.5     3.0

In [14]:
import pandas as pd

from bokeh.plotting import figure, show, output_file
from bokeh.models import BasicTicker, ColorBar, ColumnDataSource, LinearColorMapper, PrintfTickFormatter
from bokeh.transform import transform

output_file('_bokeh_54.html')

data.Year = data.Year.astype(str)
data = data.set_index('Year')
data.drop('Annual', axis=1, inplace=True)
data.columns.name = 'Month'

# reshape to 1D array or rates with a month and year for each row
df = pd.DataFrame(data.stack(), columns=['rate']).reset_index()

source = ColumnDataSource(df)

# this is the colormap from the original NYTime plot
colors = ['#75968f', '#a5bab7', '#c9d9d3', '#e2e2e2', '#dfccce', '#ddb7b1', '#cc7878', '#933b41', '#550b1d']
mapper = LinearColorMapper(palette=colors, low=df.rate.min(), high=df.rate.max())

p = figure(plot_width=800, plot_height=300, title='US Unemployment 1948-2016',
           x_range=list(data.index), y_range=list(reversed(data.columns)),
           toolbar_location=None, tools='', x_axis_location='above')

p.rect(x='Year', y='Month', width=1, height=1, source=source, line_color=None, fill_color=transform('rate', mapper))

color_bar = ColorBar(color_mapper=mapper, location=(0, 0), ticker=BasicTicker(desired_num_ticks=len(colors)),
                     formatter=PrintfTickFormatter(format='%d%%'))

p.add_layout(color_bar, 'right')

p.axis.axis_line_color = None
p.axis.major_tick_line_color = None
p.axis.major_label_text_font_size = '5pt'
p.axis.major_label_standoff = 0
p.xaxis.major_label_orientation = 1.0

show(p)

![](_bokeh_54.PNG)

In [16]:
from bokeh.sampledata.periodic_table import elements
elements.head().T

,0,1,2,3,4
atomic number,1,2,3,4,5
symbol,H,He,Li,Be,B
name,Hydrogen,Helium,Lithium,Beryllium,Boron
atomic mass,1.00794,4.002602,6.941,9.012182,10.811
CPK,#FFFFFF,#D9FFFF,#CC80FF,#C2FF00,#FFB5B5
electronic configuration,1s1,1s2,[He] 2s1,[He] 2s2,[He] 2s2 2p1
electronegativity,2.2,NaN,0.98,1.57,2.04
atomic radius,37,32,134,90,82
ion radius,NaN,NaN,76 (+1),45 (+2),27 (+3)
van der Waals radius,120,140,182,NaN,NaN
IE-1,1312,2372,520,900,801
EA,-73,0,-60,0,-27
standard state,gas,gas,solid,solid,solid
bonding type,diatomic,atomic,metallic,metallic,covalent network
melting point,14,NaN,454,1560,2348
boiling point,20,4,1615,2743,4273
density,8.99e-05,0,0.54,1.85,2.46
metal,nonmetal,noble gas,alkali metal,alkaline earth metal,metalloid
year discovered,1766,1868,1817,1798,1807
group,1,18,1,2,13
period,1,1,2,2,2

In [19]:
from bokeh.plotting import figure, show, output_file
from bokeh.models import ColumnDataSource
from bokeh.transform import dodge, factor_cmap

output_file('_bokeh_55.html')

periods = ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII']
groups = [str(x) for x in range(1, 19)]

df = elements.copy()
df['atomic mass'] = df['atomic mass'].astype(str)
df['group'] = df['group'].astype(str)
df['period'] = [periods[x-1] for x in df.period]
df = df[df.group != '-']
df = df[df.symbol != 'Lr']
df = df[df.symbol != 'Lu']

cmap = {
    'alkali metal': '#a6cee3',
    'alkaline earth metal': '#1f78b4',
    'metal': '#d93b43',
    'halogen': '#999d9a',
    'metalloid': '#e08d49',
    'noble gas': '#eaeaea',
    'nonmetal': '#f1d4Af',
    'transition metal': '#599d7A'
}

source = ColumnDataSource(df)

p = figure(plot_width=900, plot_height=500, title='Periodic Table (omitting LA and AC Series)',
           x_range=groups, y_range=list(reversed(periods)), toolbar_location=None, tools='hover')

p.rect('group', 'period', 0.95, 0.95, source=source, fill_alpha=0.6, legend='metal', 
       color=factor_cmap('metal', palette=list(cmap.values()), factors=list(cmap.keys())))

text_props = {'source': source, 'text_align': 'left', 'text_baseline': 'middle'}

x = dodge('group', -0.4, range=p.x_range)

r = p.text(x=x, y='period', text='symbol', **text_props)
r.glyph.text_font_style = 'bold'

r = p.text(x=x, y=dodge('period', 0.3, range=p.y_range), text='atomic number', **text_props)
r.glyph.text_font_size = '8pt'

r = p.text(x=x, y=dodge('period', -0.35, range=p.y_range), text='name', **text_props)
r.glyph.text_font_size = '5pt'

r = p.text(x=x, y=dodge('period', -0.2, range=p.y_range), text='atomic mass', **text_props)
r.glyph.text_font_size = '5pt'

p.text(x=['3', '3'], y=['VI', 'VII'], text=['LA', 'AC'], text_align='center', text_baseline='middle')

p.hover.tooltips = [
    ('Name', '@name'),
    ('Atomic number', '@{atomic number}'),
    ('Atomic mass', '@{atomic mass}'),
    ('Type', '@metal'),
    ('CPK color', '$color[hex, swatch]:CPK'),
    ('Electronic configuration', '@{electronic configuration}')
]

p.outline_line_color = None
p.grid.grid_line_color = None
p.axis.axis_line_color = None
p.axis.major_tick_line_color = None
p.axis.major_label_standoff = 0
p.legend.orientation = 'horizontal'
p.legend.location = 'top_center'

show(p)

![](_bokeh_55.png)